<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">



<!--Head-->
<head th:replace = "~{fragment :: headFragment}">
    <title> Subhashi Printers - Customer Order - Daily product Management</title>
</head>
<body class="vertical-layout vertical-compact-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-compact-menu" data-col="2-columns">

<!-- fixed-top-->
<nav th:replace ="~{fragment :: navBarFragment}"></nav>
<!-- ////////////////////////////////////////////////////////////////////////////-->

<!--Use Setting Feagment-->
<div th:replace="~{fragment :: settingmodal}"></div>

<!--SideBar-->
<!--//                <thead class="table-dark" style="background-color: #152650">-->
<div th:replace ="~{fragment :: sideBarFragment}"></div>

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">Daily Product Management</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">Product
                            </li>
                            <li class="breadcrumb-item active">DAily management
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
                <div class="btn-group float-md-right"><a class="btn-gradient-primary-add btn-sm white"
                                                         data-toggle="modal" id="btnAddNew" data-target="#modalDailyForm">Add
                    new Daily Product</a></div>
            </div>
        </div>
        <div class="content-body">
            <div id="transactions">
                <div class="transactions-table-tbody">


                    <section class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">

                                            <table class="table table-hover table-bordered" id="tableDailyProduct">
                                                <thead class="table-dark" style="background-color: #152650">
                                                <tr>

                                                    <th> #</th>
                                                    <th>Customer Order Code</th>
                                                    <th>Product Name</th>
                                                    <th>Total Quantity</th>
                                                    <th>Completed Qty</th>
                                                    <th>Daily Qty</th>
                                                    <th>New Balance Qty</th>
                                                    <th> Modify</th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->




<!--Form-->

<div class="modal" tabindex="-1" id="modalDailyForm" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h2 class="h2"><i class="fas fa-user fx"></i> Edit Daily Product</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"onclick="buttonModalCloseMC()"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- Body -->
            <div class="modal-body">
                <!--  Product form -->
                <form onsubmit="return false">

                    <!--- Required (Star mark)  -->
                    <div class="row text-end p-1">
              <span class="fw-bold" style="font-size: 18px;"><span style="color: red;">*</span> Required
              </span>
                    </div>

                    <!--- Customer name / Product Name -->
                    <div class="row mt-2">
                        <!--- Customer Order Code -->
                        <div class="col-6">
                            <label for="cmbCustomerOrder" class="form-label-sm font-weight-bold">
                                Customer Order Code : <span style="color: red;">*</span>
                            </label>
                            <select id="cmbCustomerOrder" class="form-control form-control-sm"
                                    onchange="selectValidator(cmbCustomerOrder,'','dailyP','customer_order_id','olddailyP');getProductList()"
                            ></select>
                        </div>
                        <!--- Product Name -->

                        <div class="col-6">
                            <label for="cmbProduct" class="form-label-sm font-weight-bold">
                                Product : <span style="color: red;">*</span>
                            </label>
                            <select id="cmbProduct" class="form-control form-control-sm"
                                    onchange="selectValidator(cmbProduct,'','dailyP','product_id','olddailyP');getCOPQty()"></select>
                        </div>
                    </div>


                    <!--- Total Quantity -->
                    <div class="row mt-2">
                        <div class="col-6">
                            <label for="txtTotalQuantity" class="form-label font-weight-bold">
                                Total Quantity : <span style="color: red;">*</span>
                            </label>
                            <input type="text" id="txtTotalQuantity"
                                   class="form-control form-control-sm"
                                   onkeyup="textFeildValidtor(txtTotalQuantity,'^[1-9][0-9]{0,9}$','dailyP','totalqty','olddailyP');"
                                   placeholder="Enter Total Quantity">

                        </div>


                        <!--- Oredered Quantity -->

                        <div class="col-6">
                            <label for="txtcompletedQuantity" class="form-label font-weight-bold">
                                Completed Quantity : <span style="color: red;">*</span>
                            </label>
                            <input type="text" id="txtcompletedQuantity"
                                   class="form-control form-control-sm"
                                   onkeyup="textFeildValidtor(txtcompletedQuantity,'^[1-9][0-9]{0,5}$','dailyP','completedqty','olddailyP');setValue()"
                                   placeholder="Enter Completed Quantity">

                        </div>
                    </div>

                    <!--- Pre Balance Quantity /  Daily Quantity /New Balance Quantity -->
                    <div class="row mt-2">
                        <!--- Pre Balance Quantity -->
                        <div class="col-4">
                            <label for="txtPreBalanceQuantity" class="form-label font-weight-bold">
                                Pre Balance Quantity : <span style="color: red;">*</span>
                            </label>
                            <input type="text" id="txtPreBalanceQuantity"
                                   class="form-control form-control-sm"
                                   onkeyup="textFeildValidtor(txtPreBalanceQuantity,'^[1-9][0-9]{0,5}$','dailyP','pre_balance_qty','olddailyP')"
                                   placeholder="Enter Pre Balance Quantity">

                        </div>

                        <!--- Daily Quantity -->

                        <div class="col-4">
                            <label for="txtDailyQuantity" class="form-label font-weight-bold">
                                Daily Quantity : <span style="color: red;">*</span>
                            </label>
                            <input type="text" id="txtDailyQuantity"
                                   class="form-control form-control-sm"
                                   onkeyup="textFeildValidtor(txtDailyQuantity,'^[1-9][0-9]{0,5}$','dailyP','dailyqty','olddailyP');getBalanceAmount()"
                                   placeholder="Enter Daily Quantity">

                        </div>

                        <!--- New Balance Quantity -->

                        <div class="col-4">
                            <label for="txtNewBalanceQuantity" class="form-label font-weight-bold">
                                New Balance Quantity : <span style="color: red;">*</span>
                            </label>
                            <input type="text" id="txtNewBalanceQuantity"
                                   class="form-control form-control-sm"
                                   onkeyup="textFeildValidtor(txtNewBalanceQuantity,'^[1-9][0-9]{0,5}$','dailyP','new_balance_qty','olddailyP');"
                                   placeholder="Enter New Balance Quantity ">

                        </div>
                    </div>


                    <!--- Buttons -->
                    <div class="row mt-2">
                        <div class="col text-end">
                            <button type="reset" style="width: 23%; border-radius: 50px;"
                                    class="btn bg-info font-weight-bold" onclick="buttonClearMC()"> Clear
                            </button>
                            <button type="submit" style="width: 23%;border-radius: 50px;" id="buttonAdd"
                                    class="btn bg-success font-weight-bold" onclick="buttonSubmitMC()"> Add
                            </button>
                        </div>
                    </div>






</form>


</div>


</div>
</div>

</div>
<!---->


<!--View Modal-->
<div class="modal" tabindex="-1" id="modalViewDailyPForm" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h2"><i class="fas fa-user fx"></i> View Daily Product </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="buttonModalCloseMCV()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered" id="tablePrintDailyP">

                    <tr>
                        <th>Customer Order Code</th>
                        <td id="tdCOrderCode"></td>
                    </tr>
                    <tr>Customer Order Code
                        <th>Product</th>
                        <td id="tdProduct"></td>
                    </tr>
                    <tr>
                        <th>Total Quantity</th>
                        <td id="tdTQuantity"></td>
                    </tr>
                    <tr>
                        <th>Completed Quantity</th>
                        <td id="tdCQuantity"></td>
                    </tr>
                    <tr>
                        <th>Daily Quantity </th>
                        <td id="tdDQuantity"> </td>
                    </tr>
                    <tr>
                        <th>New Balance Quantity</th>
                        <td id="tdNewBQuantity"> </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">

                <div class="btn-group float-md-right"><a class="btn-gradient-primary-add btn-sm white" onclick="printRowItemMC()"> Print </a></div>
            </div>
        </div>
    </div>
</div>
<script src="/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>

<script src="/app-assets/js/core/app-menu.js" type="text/javascript"></script>
<script src="/app-assets/js/core/app.js" type="text/javascript"></script>


<script src="/resources/datatable/js/datatables.min.js" type="text/javascript"></script>

<script src="/resources/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>


<script src="/dailyProduct.js" type="text/javascript"></script>
<!--footer-->
<footer th:replace = "~{fragment::footerFragment}"></footer>
</body>
</html>