<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!--Head-->
<head th:replace = "~{fragment :: headFragment}">
    <title>Subhashi Printers - Employee</title>
</head>
<body class="vertical-layout vertical-compact-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
  data-menu="vertical-compact-menu" data-col="2-columns">

<!-- fixed-top-->
<nav th:replace ="~{fragment :: navBarFragment}"></nav>
  <!-- ////////////////////////////////////////////////////////////////////////////-->


<!--SideBar-->
<!--//                <thead class="table-dark" style="background-color: #152650">-->
<div th:replace ="~{fragment :: sideBarFragment}"></div>

  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
          <h3 class="content-header-title mb-0 d-inline-block">Employee Management</h3>
          <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Employee
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
          <div class="btn-group float-md-right"><a class="btn-gradient-secondary btn-sm white" data-toggle="modal" data-target="#modalEmployeeForm">Add
              new Employee</a></div>
        </div>
      </div>
      <div class="content-body">
        <div id="transactions">
          <div class="transactions-table-tbody">

       
            <section class="card pull-up">
              <div class="card-content">
                <div class="card-body">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12">

                        <table class="table table-hover table-bordered" id="tableEmployee">
                            <thead class="table-dark" style="background-color: #152650">
                                <tr>
                                    <th> # </th>
                                    <th> Callingname </th>
                                    <th> Fullname </th>
                                    <th> NIC </th>
                                    <th> Mobile </th>
                                    <th> Email </th>
                                    <th> Status </th>
                                    <th> Modify </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>


                    </div>
                  </div>
                </div>
              </div>
            </section>

           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->


<footer th:replace = "~{fragment::footerFragment}"></footer>



  <div class="modal" tabindex="-1" id="modalEmployeeForm">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h2"> <i class="fas fa-user fx"></i> Edit Employee</h2>
                <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                onclick="buttonModalCloseMC()"
                ></button>
            </div>
            <div class="modal-body">
                <!--  Employee form -->
                <form onsubmit="return false">

                    <!--- Required (Star mark)  -->
                    <div class="row text-end p-1">
                            <span class="fw-bold" style="font-size: 18px;"><span style="color: red;">*</span> Required
                            </span>
                    </div>

                    <!--- Emp No  -->
                    <div class="row mt-2">
                        <label for="txtEmpNo" class="font-weight-bold col-4 col-form-label">Employee No :
                            <span style="color: red;">*</span>
                        </label>
                        <div class="col-8">
                            <input type="text" readonly id="txtEmpNo" class="form-control" disabled
                                   value="Employee number is auto generated">
                        </div>

                    </div>

                    <!--- Fullname  -->
                    <div class="row mt-2">
                        <div class="col">
                            <label for="txtFullname" class="form-label font-weight-bold">Employee Fullname : <span
                                    style="color: red;">*</span></label>
                            <input type="text" id="txtFullname" class="form-control"
                                   onkeyup="textFeildValidtor(txtFullname,'^(([A-Z][a-z]{1,16}[ ]{0,1})+([A-Z][a-z]{1,16})+)$','employee','fullname','oldemployee')"
                                   placeholder="Enter Fullname" required data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>
                    </div>

                    <!--- Employee Callingname / NIC  -->
                    <div class="row mt-2">
                        <!-- Employee Callingname -->
                        <div class="col position-relative" >
                            <label for="txtCallingname" class="form-label font-weight-bold">Employee Callingname : <span
                                    style="color: red;">*</span></label>
                            <input type="text" id="txtCallingname" class="form-control"
                                   onkeyup="textFeildValidtor(txtCallingname,'^[A-Z][a-z]{3,10}$','employee','calling_name','oldemployee')"
                                   placeholder="Enter Calling name" required data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>
                        <!-- Employee NIC -->
                        <div class="col">
                            <label for="txtNIC" class="form-label font-weight-bold">
                                Employee NIC : <span style="color: red;">*</span>
                            </label>
                            <input type="text" id="txtNIC" placeholder="Ex: 000000000V"  required
                                   onkeyup="textFeildValidtor(txtNIC,'^(([0-9]{9}[VvXx])|([0-9]){12})$','employee','nic','oldemployee')" class="form-control" >
                            <div class="form-text"> Ex: 000000000V or xxxxxxxxxxxx</div>
                        </div>
                    </div>

                    <!--- Employee Gender /  DOB -->
                    <div class="row mt-2">
                        <!-- Employee Gender -->
                        <div class="col-6" >

                            <div class="row">
                               
                                <div class="col-6" >
                                    <label  class="form-label font-weight-bold"> Gender : <span
                                            style="color: red;">*</span></label>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" name="gender" value="Male" id="radioMale" required
                                               onchange="redioFeildValidator(radioMale,'','employee','gender',lblRadioMale,lblRadioFemale)"
                                               class="form-check-input p-2">
                                        <label for="radioMale" class="form-check-label" id="lblRadioMale">Male</label>
                                    </div>

                                </div>
                                 <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" name="gender" value="Female" id="radioFemale" required
                                               onchange="redioFeildValidator(radioFemale,'','employee','gender',lblRadioFemale,lblRadioMale)"
                                               class="form-check-input">
                                        <label for="radioFemale" class="form-check-label" id="lblRadioFemale">Female</label>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Employee DOB -->
                        <div class="col-6">
                            <label for="dteDOB" class="form-label font-weight-bold">
                                Employee DOB : <span style="color: red;">*</span>
                            </label>
                            <input type="date" id="dteDOB" class="form-control" required
                            onchange="dateFeildValidator(dteDOB,'','employee','dob','oldemployee')">

                        </div>
                    </div>

                    <!--- Employee Mobile no /  Land No / Email -->
                    <div class="row mt-2 ">

                        <!-- <div class="col-4"></div>
                        <div class="col-4 text-center"
                             style="border: 2px solid black; border-radius:20px;
                             margin-top: -15px;">
                            Contact Details</div>
                        <div class="col-4"></div> -->

                        <!-- Employee Mobile -->
                        <div class="col-3">
                            <label for="txtMobile" class="form-label font-weight-bold">
                                Mobile No : <span style="color: red;">*</span>
                            </label>
                            <input type="text" id="txtMobile" class="form-control" required
                                   placeholder="Enter Mobile No"
                                   onkeyup="textFeildValidtor(txtMobile,'^[0][7][01245678][0-9]{7}$','employee','mobile','oldemployee')">

                        </div>
                        <!-- Employee Land -->
                        <div class="col-3">
                            <label for="txtLand" class="form-label font-weight-bold">
                                Land No :
                            </label>
                            <input type="text" id="txtLand" class="form-control"
                                   placeholder="Enter Land No"
                                   onkeyup="textFeildValidtor(txtLand,'^[0][1-9][0-9]{8}$','employee','land','oldemployee')" >

                        </div>
                        <!-- Employee Email -->
                        <div class="col-6">
                            <label for="txtEmail" class="form-label font-weight-bold">
                                Employee Email : <span style="color: red;">*</span>
                            </label>
                            <input type="email" id="txtEmail" class="form-control" required
                                   onkeyup="textFeildValidtor(txtEmail,'^[A-Za-z0-9]{5,20}[@][a-z]{4,10}[.][a-z]{2,5}$','employee','email','oldemployee')"
                                   placeholder="Enter Email No">
                        </div>
                    </div>

                    <!--- Employee Address / Photo -->
                    <div class="row mt-2">
                        <!-- Employee Address -->
                        <div class="col">
                            <label for="txtAddress" class="form-label font-weight-bold">Address :
                                <span style="color: red;">*</span></label>
                            <textarea id="txtAddress" class="form-control"
                                      onkeyup="textFeildValidtor(txtAddress,'^([a-zA-Z0-9\\s\\,\'\\-\\/\.]{1,100})+([a-zA-Z0-9\\,\'\\-\\/\.]*)$','employee','address','oldemployee')"
                                      required></textarea>
                        </div>
                        <!-- Employee Photo -->
                        <div class="col">
                            <label for="formFilePhoto" class="form-label font-weight-bold">Employee Photo : </label>
                            <input class="form-control" type="file" id="formFilePhoto" >
                        </div>
                    </div>

                    <!--- Employee Civil Status /  Designation -->
                    <div class="row mt-2">
                        <!-- Employee Civil Status -->
                        <div class="col">
                            <label for="cmbCivilStatus" class="form-label font-weight-bold">Civil Status : <span
                                    style="color: red;">*</span></label>
                            <select id="cmbCivilStatus" class="form-control" required
                            onchange="selectValidator(cmbCivilStatus,'','employee','civilstatus_id','oldemployee')">

                            </select>
                        </div>
                        <!-- Employee Designation -->
                        <div class="col">
                            <label for="cmbDesignation" class="form-label font-weight-bold">Designation : <span
                                    style="color: red;">*</span></label>
                            <select id="cmbDesignation" class="form-control" required
                                    onchange="selectValidator(cmbDesignation,'','employee','designation_id','oldemployee')">
                            </select>
                        </div>
                    </div>

                    <!--- Employee Description -->
                    <div class="row mt-2">
                        <div class="col">
                            <label for="txtDescription" class="form-label font-weight-bold">
                                Employee Description :
                            </label>
                            <textarea id="txtDescription" class="form-control"
                                      onkeyup="textFeildValidtor(txtDescription,'^.*$','employee','description','oldemployee')"
                                      placeholder="Enter Description"></textarea>
                        </div>
                    </div>

                    <!--- Employee Assigndate /  Status -->
                    <div class="row mt-2">
                        <!-- Employee Assigndate -->
                        <div class="col">
                            <label for="dteAssigndate" class="form-label font-weight-bold">
                                Assgin Date: <span style="color: red;">*</span>
                            </label>
                            <input type="date" readonly id="dteAssigndate" class="form-control" disabled>
                        </div>
                        <!-- Employee Status -->
                        <div class="col">
                            <label for="cmbEmployeeStatus" class="form-label font-weight-bold">Employee Status : <span
                                    style="color: red;">*</span></label>
                            <select id="cmbEmployeeStatus" class="form-control" required
                                    onchange="selectValidator(cmbEmployeeStatus,'','employee','employeestatus_id','oldemployee')">

                            </select>
                        </div>
                    </div>

                    <!--- Buttons -->
                    <div class="row mt-2">
                        <div class="col text-end">
                            <button type="reset" style="width: 23%; border-radius: 50px;"
                                    class="btn bg-info font-weight-bold"> Clear </button>
                            <button type="submit" style="width: 23%;border-radius: 50px;" id="buttonUpdate"
                                    class="btn bg-warning font-weight-bold" onclick="buttonUpdateMC()"> Update </button>
                            <button type="submit" style="width: 23%;border-radius: 50px;" id="buttonAdd"
                                    class="btn bg-success font-weight-bold" onclick="buttonSubmitMC()"> Add </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>





  <!-- BEGIN VENDOR JS-->
  <script src="/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
  <!-- BEGIN VENDOR JS-->
  <!-- BEGIN PAGE VENDOR JS-->
  <!-- END PAGE VENDOR JS-->
  <!-- BEGIN MODERN JS-->
  <script src="/app-assets/js/core/app-menu.js" type="text/javascript"></script>
  <script src="/app-assets/js/core/app.js" type="text/javascript"></script>


  <script src="/resources/datatable/js/datatables.min.js" type="text/javascript"></script>

  <script src="/resources/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>

  <script src="/resources/script/common.js" type="text/javascript"></script>
  <script src="/resources/commanFunction.js" type="text/javascript"></script>
  <script src="/employee.js" type="text/javascript"></script>
  
  <!-- END MODERN JS-->
  <!-- BEGIN PAGE LEVEL JS-->
  <!-- END PAGE LEVEL JS-->
</body>

</html>