<!--SideBar-->
<!--//                <thead class="table-dark" style="background-color: #152650">-->
<div th:fragment="sideBarFragment"
     class="main-menu menu-fixed menu-dark menu-bg-default rounded menu-accordion menu-shadow ">
    <div class="main-menu-content justify-content-center ">

        <a class="navigation-brand d-none d-md-block d-lg-block d-xl-block"
           href="/dashboard">
            <img class=" rounded-circle  brand-logo" src="resources/images/user_photo/user.png" id="imgUserPhoto"/>
                 <a class="m-1 text-white " href="#" id="loggeduserRole">Role</a>
                <a class="m-1  text-white " href="#" id="loggedUserName">UsrName</a>
        </a>
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a href="/dashboard"><i class="fa-solid fa-chart-line"></i><span
                    class="menu-title" data-i18n="">Dashboard</span></a>
            </li>
            <li class=" nav-item"><a href="/"><i class="fa-solid fa-user-gear"></i><span class="menu-title"
                                                                                         data-i18n="">Administration</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/employee">Employee</a></li>
                    <li><a class="menu-item" href="/user">User</a></li>
                    <li><a class="menu-item" href="/privilage">Privilage </a></li>
                </ul>
            </li>
            <li class=" nav-item "><a href="/"><i class="fa-solid fa-folder-plus"></i><span class="menu-title"
                                                                                            data-i18n="">Order Registration</span></a>
                <ul class="menu-content ">
                    <li><a class="menu-item " href="/customer">Customer</a></li>
                    <li><a class="menu-item" href="/customerOrder">Customer Order </a></li>
                    <li><a class="menu-item" href="/cpayment">Customer Payment </a></li>
                </ul>
            </li>
            <li class=" nav-item"><a href="/">
                <i class="fa-solid fa-print"></i><span class="menu-title"
                                                       data-i18n="">Production</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item " href="/product">Product</a></li>
                    <li><a class="menu-item" href="/productoinOrderConfirm">Production Confirmation </a></li>
                    <li><a class="menu-item" href="/dailyProduct">Daily Product</a></li>


                </ul>
            </li>
            <li class=" nav-item ">
                <a href="/"><i class="fa-solid fa-cart-shopping"></i><span class="menu-title"
                                                                           data-i18n="">Supplier</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/material">Material</a></li>
                    <li><a class="menu-item" href="/supplier">Supplier</a></li>
                    <li><a class="menu-item" href="/quotationrequest">Quotation Request</a></li>
                    <li><a class="menu-item" href="/quotation">Quotation </a></li>
                    <li><a class="menu-item" href="/purchaseorder">Purchase Order </a></li>
                    <li><a class="menu-item" href="/mrn">MRN </a></li>
                    <li><a class="menu-item" href="/supplierpayment">Supplier Payment </a></li>

                </ul>
            </li>
            <!--fa-tasks-->
            <li class=" nav-item ">
                <a href="/"><i class="fa fa-plus-square"></i><span class="menu-title"
                                                                   data-i18n="">Support Modules</span></a>
                <ul class="menu-content">

                    <li><a class="menu-item" href="/inventory">Inventory</a></li>
                    <li><a class="menu-item" href="/productCategory">Product Category</a></li>

                </ul>
            </li>

            <li class=" nav-item"><a href="/"><i class="fa-solid fa-list-check"></i><span class="menu-title"
                                                                                          data-i18n="">Report</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/mateialListStatusReport">Paper Material Report</a></li>
                    <li><a class="menu-item" href="/customerPaymentreport"> Customer Payment Report</a></li>
                    <li><a class="menu-item" href="/supplierPaymentreport">Supplier Payment Report</a></li>
                </ul>
            </li>

        </ul>
    </div>

</div>
<!--Head-->
<head th:fragment="headFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">


    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="/app-assets/images/ico/favicon.ico">
    <link
            href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i|Comfortaa:300,400,500,700"
            rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/vendors.css">

    <link rel="stylesheet" type="text/css" href="/resources/fontawesome/css/all.css">
    <!-- END VENDOR CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-compact-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/cryptocoins/cryptocoins.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/transactions.css">

    <!-- BEGIN MODERN CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/app.css">
    <!-- END MODERN CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/assets/css/style.css">


    <link rel="stylesheet" type="text/css" href="/resources/datatable/css/datatables.min.css">
    <!-- END Custom CSS-->


</head>

<!--Navbar-->
<nav th:fragment="navBarFragment"
     class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-bg-color">
    <div class="navbar-wrapper">
        <div class="navbar-header d-md-none">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a
                        class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                        class="ft-menu font-large-1"></i></a></li>
                <li class="nav-item d-md-none"><a class="navbar-brand" href="index.html"></a>
                </li>
                <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                                                  data-target="#navbar-mobile"><i class="la la-ellipsis-v"> </i></a>
                </li>
            </ul>
        </div>
        <div class="navbar-container">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs"
                                                              href="#"><i class="ft-menu"> </i></a></li>

                </ul>
                <ul class="nav navbar-nav mr-auto float-right">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                            <h2> Subhashi Printers</h2>
                        </a></li>

                </ul>
                <ul class="nav navbar-nav  float-right">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                            <i class="fas fa-bell"> </i></a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs"
                           data-toggle="modal" data-target="#modalUserSettingForm" onclick="refreshProfileEditForm()">
                            <i class="fas fa-gear"> </i>
                        </a>
                    </li>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#" onclick="logoutMC()">
                            <i class="fas fa-power-off"> </i></a>
                    </li>


                </ul>


            </div>
        </div>
    </div>
</nav>


<!--User Change mOddel-->
<!--User Setting -->
<div class="modal" th:fragment="settingmodal" id="modalUserSettingForm" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h2 class="h2"><i class="fas fa-user fx"></i> User Setting Management</h2>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal"
                        onclick="buttonModalCloseLogUMC()"><span
                        aria-hidden="true">x</span></button>
            </div>
            <!-- Body -->
            <div class="modal-body">
                <!--   form -->
                <form onsubmit="return false">
                    <!--                    @@@@@@@@@@@@@@@@@@@@@@@@@@ User Setting form @@@@@@@@@@@@@@@@@@@@@@@@@@-->
                    <div id="divUserSetting"><!-- style css-->
                        <!-- Card Start -->
                        <div class="card p-1 m-1 form-group">
                            <!--  - Inner form / Inner Table-->
                            <div class="row ">
                                <!-- ## @@ Second Inner Form @@ ##-->
                                <div class="col">
                                    <!--  Photo-->
                                    <div class=" row mt-2">
                                        <div class="col-4">
                                            <label for="userFilePhoto" class="form-label font-weight-bold">Employee
                                                Photo
                                                : </label>
                                            <img src="resources/images/user_photo/user.png"
                                                 style="width: 65px; height: 75px" id="uImage"
                                                 alt="employee.png">
                                            <input type="text" disabled class="mt-1 form-control" id="txtuPhoto">
                                        </div>
                                        <div class="col-5">
                                            <button type="button" id="btnUSelectImage"
                                                    class="btn bg-success font-weight-bold btn-sm"
                                                    onclick="userFilePhoto.click()"> Select Image
                                            </button>

                                            <button type="button" id="btnUClearImage"
                                                    class="btn bg-info btn-sm font-weight-bold"> Clear Image
                                            </button>

                                            <input class="form-control d-none" type="file" id="userFilePhoto"
                                                   onchange="fileValidator(userFilePhoto,'currentLoggedUser','userphoto','','oldcurrentLoggedUser',uImage,txtuPhoto)">
                                        </div>
                                    </div>


                                    <div class=" mt-1">
                                        <input type="file"
                                               accept="image/*" value="1" name="image" class="form-control-file"
                                               style="display: none;">
                                    </div>

                                    <!-- User Name -->
                                    <div class="row mt-2">
                                        <label class="form-label font-weight-bold col-4"> User Name :
                                            <span class="text-danger"> * </span></label>
                                        <div class="col-8">
                                            <input type="text" id="textUName" autocomplete="off"
                                                   onkeyup="textFeildValidtor(textUName,'^(([A-Z][a-z]{3,20}[ ])+([A-Za-z]{3,20}){1}|([A-Za-z]{3,20}))$','currentLoggedUser','username','oldcurrentLoggedUser')"
                                                   placeholder="Enter Username" class="form-control" required>
                                        </div>
                                    </div>

                                    <!-- Password -->
                                    <div class="row mt-2">
                                        <label class="form-label font-weight-bold col-4"> Password :
                                            <span class="text-danger"> * </span></label>
                                        <div class="col-8">
                                            <input type="password" id="txtPassword" autocomplete="off"
                                                   placeholder="Enter Password"
                                                   class="form-control"
                                                   onkeyup="textFeildValidtor(txtPassword,'^[A-Za-z0-9@#*]{5,15}$','currentLoggedUser','password','oldcurrentLoggedUser')">
                                        </div>
                                    </div>

                                    <!-- Re-Type Password -->
                                    <div class="row mt-2">
                                        <label class="form-label font-weight-bold col-4"> Re-Type Password :
                                            <span class="text-danger"> * </span></label>
                                        <div class="col-8">
                                            <input type="password" id="txtReTypePassword" autocomplete="off"
                                                   onkeyup="textReTypePasswordValidator()"
                                                   placeholder="Enter Re-Type Password" class="form-control">
                                        </div>
                                    </div>

                                    <!-- Email -->
                                    <div class="row mt-2">
                                        <label class="form-label font-weight-bold col-4"> Email :
                                            <span class="text-danger"> * </span></label>
                                        <div class="col-8">
                                            <input type="email" id="textEmail" class="form-control"
                                                   onkeyup="textFeildValidtor(textEmail,'^[A-Za-z0-9]{5,20}[@][a-z]{4,10}[.][a-z]{2,5}$','currentLoggedUser','email','oldcurrentLoggedUser');">
                                        </div>
                                    </div>
                                    <!-- Submit buttton-->
                                    <div class="row mt-2">
                                        <div class="col-4">
                                            <button type="button" class="btn btn-dark text-nowrap"
                                                    onclick="submitUserSetting()">Change Settings
                                            </button>

                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>


                        <!--                    @@@@@@@@@@@@@@@@@@@@@@@@@@End@@@@@@@@@@@@@@@@@@@@@@@@@@-->


                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/userModelSetting.js" type="text/javascript"></script>
    </script>
</div>
<!--User Change mOddel-->

<!--Footer-->
<footer th:fragment="footerFragment" class="footer footer-static footer-transparent">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block"
        >Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved. Indusha Amandani </span
        >
    </p>

    <script src="/resources/script/common.js" type="text/javascript"></script>

    <script src="/resources/script/dashboard.js" type="text/javascript"></script>

</footer>