<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<!--Head-->
<head th:replace = "~{fragment :: headFragment}">
    <title> Subhashi Printers - Quotation Management</title>
</head>
<body class="vertical-layout vertical-compact-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-compact-menu" data-col="2-columns">

<!-- fixed-top-->
<nav th:replace ="~{fragment :: navBarFragment}"></nav>
<!-- ////////////////////////////////////////////////////////////////////////////-->

<!--Use Setting Feagment-->
<div th:replace = "~{fragment :: settingmodal}"></div>
<!--SideBar-->
<!--//                <thead class="table-dark" style="background-color: #152650">-->
<div th:replace ="~{fragment :: sideBarFragment}"></div>

<!-- ////////////////////////////////////////////////////////////////////////////-->


<!--SideBar-->
<!--//                <thead class="table-dark" style="background-color: #152650">-->

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block"> Quotation Management</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">Purchase
                            </li>
                            <li class="breadcrumb-item active"> Quotation
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
                <div class="btn-group float-md-right"><a class="btn-gradient-primary-add btn-sm white"
                                                         data-toggle="modal" id="btnAddNew" data-target="#modalQuotationForm">Add new
                    Quotation</a></div>
            </div>
        </div>
        <div class="content-body">
            <div id="transactions">
                <div class="transactions-table-tbody">


                    <section class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">

                                            <table class="table table-hover table-bordered" id="tableQuotation">
                                                <thead class="table-dark"style="background-color: #152650">
                                                <tr>
                                                    <th> #</th>
                                                    <th> Quotation No</th>
                                                    <th> Suppler Name</th>
                                                    <th> Quotation Request no</th>
                                                    <th> Received Date</th>
                                                    <th> Valid Date</th>
                                                    <th> Status</th>
                                                    <th> Modify</th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->




<div class="modal" tabindex="-1" id="modalQuotationForm" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h2"><i class="fas fa-user fx"></i> Edit Quotation </h2>
                <button type="button"
                        class="close"
                        aria-label="Close"
                        data-dismiss="modal"
                        onclick="buttonModalCloseMC()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <!--  Quotation form -->
                <form onsubmit="return false">

                    <!--- Required (Star mark)  -->
                    <div class="row text-end p-1">
                            <span class="fw-bold" style="font-size: 18px;"><span style="color: red;">*</span> Required
                            </span>
                    </div>

                    <!--- Supplier / Required date  -->
                    <div class="row mt-1">
                        <div class="col-7 ">
                            <div class="row">
                                <label for="cmbSupplier" class="form-label font-weight-bold col-4">Supplier : <span
                                        style="color: red;">*</span></label>
                                <div class="col-8">
                                    <select id="cmbSupplier" class="form-control" required
                                            onchange="selectValidator(cmbSupplier,'','quotation','supplier_id','oldQuotation'); getRQ();"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 ">
                            <div class="row">
                                <label for="dteReceivedDate" class="form-label font-weight-bold col-6">Received Date :
                                    <span
                                            style="color: red;">*</span></label>
                                <div class="col-6">
                                    <input type="date" id="dteReceivedDate" class="form-control" onkeydown="return false;"
                                           onchange="dateFeildValidator(dteReceivedDate,'','quotation','recieve_date','oldQuotation');  ">
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--- Quotation / Status  -->
                    <div class="row mt-1">
                        <div class="col-7 ">
                            <div class=" row">
                                <label for="cmbQRequest" class="form-label font-weight-bold col-5">Quotation Request: <span
                                        style="color: red;">*</span></label>
                                <div class="col-7">
                                    <select id="cmbQRequest" class="form-control" required
                                            onchange="selectValidator(cmbQRequest,'','quotation','quatation_request_id','oldQuotation');getMaterialByQR();"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 ">
                            <div class=" row">
                                <label for="dteValidDate" class="form-label font-weight-bold col-5">Valid Date : <span
                                        style="color: red;">*</span></label>
                                <div class="col-7">
                                    <input type="date" id="dteValidDate" class="form-control" onkeydown="return false;"
                                           onchange="dateFeildValidator(dteValidDate,'','quotation','valid_period','oldQuotation'); ">

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--- Inner form / table -->

                    <div class="card p-1 m-2">
                        <div class="row ">
                            <div class="col-5">

                                <!--- Po Material -->
                                <div class="row mt-1">
                                    <div class="col">
                                        <label for="cmbMaterial" class="form-label-sm font-weight-bold">
                                            Material : <span style="color: red;">*</span>
                                        </label>
                                        <select id="cmbMaterial" class="form-control form-control-sm"
                                                onchange="selectValidator(cmbMaterial,'','quotationHasIMatrial','material_id','oldQuotationHasIMatrial'); "
                                        ></select>
                                    </div>
                                </div>

                                <!--- Po Unit pricet -->
                                <div class="row mt-1">
                                    <div class="col">
                                        <label for="txtUnitPrice" class="form-label font-weight-bold">
                                            Unit Price (Rs. ) : <span style="color: red;">*</span>
                                        </label>
                                        <input type="text" id="txtUnitPrice" class="form-control form-control-sm"
                                               onkeyup="textFeildValidtor(txtUnitPrice,'^(([1-9][0-9]{0,3})|([1-9][0-9]{0,3}[.][0-9]{2}))$','quotationHasIMatrial','purchase_price','oldQuotationHasIMatrial'); getValidPurchasePrice();"
                                               placeholder="Enter Total Amount">

                                    </div>
                                </div>

                                <!--- Buttons -->
                                <div class="row mt-1">
                                    <div class="col text-end">
                                        <button type="button" style="width: 25%; border-radius: 50px;"
                                                class="btn bg-info btn-sm font-weight-bold" onclick="buttonMInnerClearMC()"> Clear
                                        </button>
                                        <button type="submit" style="width: 25%;border-radius: 50px;"
                                                id="buttonInnerUpdate"
                                                class="btn bg-warning font-weight-bold btn-sm"
                                                onclick="buttonInnerUpdateMC()"> Update
                                        </button>
                                        <button type="submit" style="width: 25%;border-radius: 50px;"
                                                id="buttonInnerAdd"
                                                class="btn bg-success font-weight-bold btn-sm"
                                                onclick="buttonInnerAddMC()"> Add
                                        </button>
                                    </div>
                                </div>

                                <!--- Po Total amount -->
                                <div class="row mt-2">
                                    <label for="cmbQStatus" class="form-label font-weight-bold col-5">Status : <span
                                            style="color: red;">*</span></label>
                                    <div class="col-7">
                                        <select id="cmbQStatus" class="form-control" required
                                                onchange="selectValidator(cmbQStatus,'','quotation','quatation_status_id','oldQuotation')"></select>
                                    </div>
                                </div>

                                <!--- Po note -->
                                <div class="row mt-1">
                                    <div class="col">
                                        <label for="txtNote" class="form-label font-weight-bold">
                                            Note :
                                        </label>
                                        <textarea id="txtNote" class="form-control"
                                                  onkeyup="textFeildValidtor(txtNote,'^.*$','quotation','note','oldQuotation')"
                                                  placeholder="Enter Note"></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="col-7">
                                <table class="table table-hover table-bordered" id="tableQMaterial">
                                    <thead class="table-dark" style="background-color:  #152650">
                                    <tr>
                                        <th> #</th>
                                        <th> Material Name</th>
                                        <th> Unit Price</th>
                                        <th> Modify</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                    <!--- Buttons -->
                    <div class="row mt-2">
                        <div class="col text-end">
                            <button type="button" style="width: 23%; border-radius: 50px;"
                                    class="btn bg-info font-weight-bold" onclick="buttonClearMC()"> Clear
                            </button>
                            <button type="button" style="width: 23%;border-radius: 50px;" id="buttonUpdate"
                                    class="btn bg-warning font-weight-bold" onclick="buttonUpdateMC()"> Update
                            </button>
                            <button type="button" style="width: 23%;border-radius: 50px;" id="buttonAdd"
                                    class="btn bg-success font-weight-bold" onclick="buttonSubmitMC()"> Add
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script src="/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>

<script src="/app-assets/js/core/app-menu.js" type="text/javascript"></script>
<script src="/app-assets/js/core/app.js" type="text/javascript"></script>


<script src="/resources/datatable/js/datatables.min.js" type="text/javascript"></script>

<script src="/resources/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>


<script src="/quotation.js" type="text/javascript"></script>
<footer th:replace = "~{fragment::footerFragment}"></footer>
</body>

</html>