<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<head th:replace = "~{fragment :: headFragment}">
    <title> Subhashi Printers -Supplier Management</title>
</head>
<body class="vertical-layout vertical-compact-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-compact-menu" data-col="2-columns">

<!-- fixed-top-->
<nav th:replace ="~{fragment :: navBarFragment}"></nav>
<!-- ////////////////////////////////////////////////////////////////////////////-->


<!--SideBar-->
<!--//                <thead class="table-dark" style="background-color: #152650">-->
<div th:replace ="~{fragment :: sideBarFragment}"></div>

  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
          <h3 class="content-header-title mb-0 d-inline-block">Supplier Management</h3>
          <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Purchase
                </li>
                  <li class="breadcrumb-item active">Supplier
                  </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
          <div class="btn-group float-md-right"><a class="btn-gradient-primary-add btn-sm white"
                                                   data-toggle="modal" data-target="#modalSupplierForm">Add new Supplier</a></div>
        </div>
      </div>
      <div class="content-body">
        <div id="transactions">
          <div class="transactions-table-tbody">

       
            <section class="card pull-up">
              <div class="card-content">
                <div class="card-body">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12">

                        <table class="table table-hover table-bordered" id="tableSupplier" >
                            <thead class="table-dark" style="background-color: #152650">
                                <tr>
                                    <th> # </th>
                                    <th> Reg No </th>
                                    <th> Name </th>
                                    <th> Email </th>
                                    <th> Contact No </th>
                                    <th> Supply Material </th>
                                    <th> Status </th>
                                    <th> Modify </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>


                    </div>
                  </div>
                </div>
              </div>
            </section>

           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->


<footer th:replace = "~{fragment::footerFragment}"></footer>



  <div class="modal" tabindex="-1" id="modalSupplierForm" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h2"> <i class="fas fa-user fx"></i> Edit Supplier</h2>
                <button
                        type="button"
                        class="close"

                        aria-label="Close"
                        onclick="buttonModalCloseMC()">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <!--  Supplier form -->
                <form onsubmit="return false">

                    <!--- Required (Star mark)  -->
                    <div class="row text-end p-1">
                            <span class="fw-bold" style="font-size: 18px;"><span style="color: red;">*</span> Required
                            </span>
                    </div>

                    <!--- Supplier Name /  Contact No / Email-->
                    <div class="row mt-1">
                        <!--- Supplier Name -->
                        <div class="col-4">
                            <label for="txtSupplierName" class="form-label font-weight-bold">Supplier Name : <span
                                    style="color: red;">*</span></label>
                            <input type="text"   id="txtSupplierName" class="form-control form-control-sm" required
                                   onkeyup="textFeildValidtor(txtSupplierName,'^(([A-Z][a-z]{1,16}[ ]{0,1})+([A-Z][a-z]{1,16})+)$','newSupplier','company_name','oldSupplier')"
                                       placeholder="Enter Supplier Name">
                            <div class="form-text"> Ex: Abc Aency</div>
                        </div>

                        <!--Contact No-->
                        <div class="col-4" >
                            <label for="txtContactNo" class="form-label font-weight-bold">Contact No : <span
                                    style="color: red;">*</span></label>
                            <input type="text" id="txtContactNo" class="form-control form-control-sm"
                                   onkeyup="textFeildValidtor(txtContactNo,'^[0][1-9][1-9][0-9]{7}$','newSupplier','company_contact_no','oldSupplier')"
                                   placeholder="Enter Contact No" required >
                            <div class="form-text"> Ex: 0112325652</div>
                        </div>

                        <!--Email-->
                        <div class="col-4">
                            <label for="txtEmailAddress" class="form-label font-weight-bold">
                                Email Address : <span style="color: red;">*</span>
                            </label>
                            <input type="email" id="txtEmailAddress" placeholder="Enter Email Address"  required class="form-control form-control-sm"
                                   onkeyup="textFeildValidtor(txtEmailAddress,'^[A-Za-z0-9]{5,20}[@][a-z]{4,10}[.][a-z]{2,5}$','newSupplier','company_email','oldSupplier')"  >
                            <div class="form-text"> Ex: example@gmail.com</div>
                        </div>

                    </div>  

                    <!--- Contact No /Email/   -->
                    <div class="row mt-1">

                        <!-- Contact Person Name /C.P Email-->
                        <div class="col">
                            <label for="txtContactPersonName" class="form-label font-weight-bold">
                                Contact Person Name : <span style="color: red;"></span>
                            </label>
                            <input type="text" id="txtContactPersonName" class="form-control form-control-sm"
                                   placeholder="EnterContact Person Name"
                                   onkeyup="textFeildValidtor(txtContactPersonName,'^(([A-Z][a-z]{1,16}[ ]{0,1})+([A-Z][a-z]{1,16})+)$','newSupplier','contact_person_name','oldSupplier')" >
                            <div class="form-text"> Ex: Sampath</div>
                        </div>
                        <!--Contact Person Mobile -->
                        <div class="col">
                            <label for="txtContactPersonMobile" class="form-label font-weight-bold">
                                Contact Person Mobile : <span style="color: red;"></span>
                            </label>
                            <input type="text" id="txtContactPersonMobile" class="form-control form-control-sm"
                                   onkeyup="textFeildValidtor(txtContactPersonMobile,'^[0][7][01245678][0-9]{7}$','newSupplier','contact_person_number','oldSupplier')"
                                   placeholder="Enter Contact Person Mobile">
                            <div class="form-text"> Ex: 0776352445</div>
                        </div>
                    </div>

                <!--  Note /Status/ Supplier Address -->
                    <div class="row mt-1">
                        <!--Status-->
                        <div class="col-4">
                            <label for="cmbSupplierStatus" class="form-label font-weight-bold">Supplier Status : <span
                                    style="color: red;">*</span></label>
                            <select id="cmbSupplierStatus" class="form-control form-control-sm" required
                                    onchange="selectValidator(cmbSupplierStatus,'','newSupplier','supplier_status_id','oldSupplier')">
                                <div class="form-text"> Ex: Active</div>
                            </select>
                        </div>
                        <!-- Supplier Address-->
                        <div class="col-4">
                            <label for="txtSupplierAddress" class="form-label font-weight-bold">Supplier Address : <span
                                    style="color: red;">*</span></label>
                            <textarea id="txtSupplierAddress" class="form-control form-control-sm" required
                                      onkeyup="textFeildValidtor(txtSupplierAddress,'^.*$','newSupplier','address','oldSupplier')"
                                      placeholder="Enter Supplier Address"></textarea>
                            <div class="form-text"> Ex: no 2, Borella Rd, Maradana.</div>
                        </div>

                        <!-- Note-->
                        <div class="col-4">
                            <label for="txtSupplierNote" class="form-label font-weight-bold"> Note : <span
                                    style="color: red;"></span></label>
                            <textarea id="txtSupplierNote" class="form-control form-control-sm"
                                      onkeyup="textFeildValidtor(txtSupplierNote,'^.*$','newSupplier','description','oldSupplier')"
                                      placeholder="Enter Supplier Note"></textarea>
                            <div class="form-text"> Ex: new supplier</div>
                        </div>

                    </div>

                    <div class ="card mt-1">
                        <div class="card-header"><h2>Supplier Bank Details</h2> </div>
                        <div class="card-body">
                            <!--- Bank Name / Bank  Branch Name -->
                            <div class="row mt-1">
                                <div class="col">
                                    <label for="txtBankName" class="form-label font-weight-bold">Bank Name : <span
                                            style="color: red;"></span></label>
                                    <input type="text" id="txtBankName" class="form-control form-control-sm"
                                           onkeyup="textFeildValidtor(txtBankName,'^(([A-Z][a-z]{1,16}[ ]{0,1})+([A-Z][a-z]{1,16})+)$','newSupplier','bank_name','oldSupplier')"
                                           placeholder="Enter Bank Name"  >
                                    <div class="form-text"> Ex: BOC</div>

                                </div>

                                <div class="col">
                                    <label for="txtBankBranchName" class="form-label font-weight-bold">Bank Branch Name : <span
                                            style="color: red;"></span></label>
                                    <input type="text" id="txtBankBranchName" class="form-control form-control-sm"
                                           onkeyup="textFeildValidtor(txtBankBranchName,'^(([A-Z][a-z]{1,16}[ ]{0,1})+([A-Z][a-z]{1,16})+)$','newSupplier','branch_name','oldSupplier')"
                                           placeholder="Enter Bank Branch Name"  >
                                    <div class="form-text"> Ex: Piliyandala</div>
                                </div>
                            </div>
                            <!--- Bank Account Number / Bank  Account Holder Name -->
                            <div class="row mt-1">

                                <div class="col">
                                    <label for="txtBankAccountNumber" class="form-label font-weight-bold">Bank Account Number : <span
                                            style="color: red;"></span></label>
                                    <input type="text" id="txtBankAccountNumber" class="form-control form-control-sm"
                                           onkeyup="textFeildValidtor(txtBankAccountNumber,'^[0-9]{6,20}$','newSupplier','account_number','oldSupplier')"
                                           placeholder="Enter Bank Account Number"  >
                                    <div class="form-text"> Ex: 0125698</div>
                                </div>

                                <div class="col">
                                    <label for="txtBankAccountHolderName" class="form-label font-weight-bold">Bank Account Holder Name : <span
                                            style="color: red;"></span></label>
                                    <input type="text" id="txtBankAccountHolderName" class="form-control form-control-sm"
                                           onkeyup="textFeildValidtor(txtBankAccountHolderName,'^(([A-Z][a-z]{0,16}[ ]{0,1})+([A-Z][a-z]{0,16})+)$','newSupplier','account_holder_name','oldSupplier')"
                                           placeholder="Enter Bank Account Holder Name"  >
                                    <div class="form-text"> Ex: APB Samapath</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-1">
                        <div class="card-header">
                           <h2> Supplier Suppplier Material</h2>
                        </div>
                        <div class="card-body">

                            <!-- List Transfer -->
                            <div class="row mt-2">
                                <div class="col-1"></div>
                                <div class="col-4">
                                    <select class="form-select" id="selectMaterial" multiple aria-label="multiple select example">
                                    </select>
                                </div>
                                <div class="col-2">
                                    <div class="row">
                                        <button type="button" class="btn fw-bold" onclick="buttonAddByOne()"> > </button>
                                    </div>

                                    <div class="row">
                                        <button  type="button" class="btn fw-bold" onclick="buttonAddByAll()"> >> </button>
                                    </div>

                                    <div class="row">
                                        <button type="button" class="btn fw-bold"  onclick="buttonRemoveByOne()"> < </button>
                                    </div>
                                    <div class="row">
                                        <button type="button" class="btn fw-bold" onclick="buttonRemoveByAll()"> << </button>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <select class="form-select"  id="selectSelectedItem" multiple aria-label="multiple select example">

                                    </select>
                                </div>
                                <div class="col-1"></div>
                            </div>

                        </div>
                    </div>


                    <!--- Buttons -->
                    <div class="row mt-2">
                        <div class="col text-end">
                            <button type="reset" style="width: 23%; border-radius: 50px;"
                                    class="btn bg-info font-weight-bold"> Clear </button>
                            <button type="submit" style="width: 23%;border-radius: 50px;" id="buttonUpdate"
                                    class="btn bg-warning font-weight-bold" onclick="buttonUpdateMC()"> Update </button>
                            <button type="submit" style="width: 23%;border-radius: 50px;" id="buttonAdd"
                                    class="btn bg-success font-weight-bold" onclick="buttonSupplierSave()"> Add </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>






  <script src="/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>

  <script src="/app-assets/js/core/app-menu.js" type="text/javascript"></script>
  <script src="/app-assets/js/core/app.js" type="text/javascript"></script>


  <script src="/resources/datatable/js/datatables.min.js" type="text/javascript"></script>

  <script src="/resources/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>

  <script src="/resources/script/common.js" type="text/javascript"></script>
  <script src="/resources/script/dashboard.js" type="text/javascript"></script>
  <script src="/supplier.js" type="text/javascript"></script>

</body>

</html>