<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<!--Head-->
<head th:replace = "~{fragment :: headFragment}">
  <title> Subhashi Printers - Supplier Payment Management</title>
</head>
<body class="vertical-layout vertical-compact-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-compact-menu" data-col="2-columns">

<!-- fixed-top-->
<nav th:replace ="~{fragment :: navBarFragment}"></nav>
<!-- ////////////////////////////////////////////////////////////////////////////-->


<!--SideBar-->
<!--//                <thead class="table-dark" style="background-color: #152650">-->
<div th:replace ="~{fragment :: sideBarFragment}"></div>

<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">Supplier Payment Report</h3>
        <div class="row breadcrumbs-top d-inline-block">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Report
              </li>
              <li class="breadcrumb-item active">Supplier Payment Report</li>
            </ol>
          </div>
        </div>
      </div>

    </div>

    <div class="content-body">
      <div id="transactions">
        <div class="transactions-table-tbody">


          <section class="card pull-up">
            <div class="card-content">
              <div class="card-body">
                <div class="col-12">


                  <div class="row mt-2">
                    <div class="col-4 ">
                      <label class="font-weight-bold form-control">Start Date : <input type="date"
                                                                                       id="dteStartDate"
                                                                                       class="form-control">
                      </label>


                    </div>
                    <div class="col-4">
                      <label class="font-weight-bold form-control">End Date : <input type="date"
                                                                                     id="dteEndDate"
                                                                                     class="form-control">
                      </label>

                    </div>
                    <div class="col-4">
                      <label class="font-weight-bold">Report Type : </label>
                      <select id="selectReportType" class="form-control">
                        <option disabled selected>Select Report type</option>
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Annualy">Annualy</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-4" ></div>
                    <div class="row col-4">

                      <button class="btn-sm btn-gradient-primary table-responsive"
                              onclick="generateReport()">
                        Generate Report
                      </button>

                    </div>
                    <div class="col-4">
                      <button class="btn-sm btn-gradient-primary-add table-responsive"
                              onclick="buttonPrint()">Print Table
                      </button>

                    </div>
                  </div>

                  <div class="row mt-2">

                    <div class="col-12">

                      <table class="table table-hover table-bordered"
                             id="tableSupplierPaymentReport">
                        <thead class="table-dark" style="background-color: #152650">
                        <tr>
                          <th> #</th>
                          <th> Day</th>
                          <th> Total Amount</th>
                          <th> Count</th>

                        </thead>
                        <tbody></tbody>
                      </table>

                    </div>


                  </div>

                </div>

              </div>
            </div>
          </section>

        </div>

      </div>
    </div>
  </div>
</div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->





<!---->


<script src="/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>

<script src="/app-assets/js/core/app-menu.js" type="text/javascript"></script>
<script src="/app-assets/js/core/app.js" type="text/javascript"></script>


<script src="/resources/datatable/js/datatables.min.js" type="text/javascript"></script>

<script src="/resources/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>


<script src="/supplierPaymentReport.js" type="text/javascript"></script>
<!--footer-->

<footer th:replace = "~{fragment::footerFragment}"></footer>
</body>
</html>