<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<!--Head-->
<head th:replace = "~{fragment :: headFragment}">
    <title> Subhashi Printers -Supplier Payment Management</title>
</head>
<body class="vertical-layout vertical-compact-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-compact-menu" data-col="2-columns">

<!-- fixed-top-->
<nav th:replace ="~{fragment :: navBarFragment}"></nav>
<!-- ////////////////////////////////////////////////////////////////////////////-->


<!--SideBar-->
<!--//                <thead class="table-dark" style="background-color: #152650">-->
<div th:replace ="~{fragment :: sideBarFragment}"></div>



  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
          <h3 class="content-header-title mb-0 d-inline-block">Supplier Payment Management</h3>
          <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Purchase
                </li>
                  <li class="breadcrumb-item active">Supplier Payment
                  </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
          <div class="btn-group float-md-right"><a class="btn-gradient-primary-add btn-sm white"
                                                   data-toggle="modal" data-target="#modalQuotationRequestForm">Add new Supplier Payment</a></div>
        </div>
      </div>
      <div class="content-body">
        <div id="transactions">
          <div class="transactions-table-tbody">

       
            <section class="card pull-up">
              <div class="card-content">
                <div class="card-body">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12">

                        <table class="table table-hover table-bordered" id="tableSupplierPayment">
                            <thead class="table-dark" style="background-color: #152650">
                                <tr>
                                    <th> # </th>
                                    <th>  Bill No </th>
                                    <th> Supplier Name </th>
                                    <th> MRN no </th>
                                    <th> MRN Amount </th>
                                    <th> Total Amount </th>
                                    <th> Paid Amount </th>
                                    <th> Balance Amount </th>
                                    <th> Paid Date Time </th>
                                    <th> Pay Method </th>
                                    <th> Status </th>
                                    <th> Modify </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>


                    </div>
                  </div>
                </div>
              </div>
            </section>

           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->

<footer th:replace = "~{fragment::footerFragment}"></footer>



  <div class="modal"  id="modalQuotationRequestForm" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h2"> <i class="fas fa-user fx"></i> Edit Supplier Payment</h2>
                <button type="button" class="close" aria-label="Close"
                        onclick="buttonModalCloseMC()">  <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <!--  Employee form -->
                <form onsubmit="return false">

                    <!--- Required (Star mark)  -->
                    <div class="row text-end p-1">
                            <span class="fw-bold" style="font-size: 18px;"><span style="color: red;">*</span> Required
                            </span>
                    </div>

    <!--                    &lt;!&ndash;- SP No  &ndash;&gt;-->
    <!--                    <div class="row mt-2">-->
    <!--                        <label for="txtSPNo" class="font-weight-bold col-4 col-form-label">Supplier Payment Bill No :-->
    <!--                            <span style="color: red;">*</span>-->
    <!--                        </label>-->
    <!--                        <div class="col-8">-->
    <!--                            <input type="text" readonly id="txtSPNo" class="form-control form-control-sm" disabled-->
    <!--                                   value="Supplier Payment Bill number is auto generated">-->
    <!--                        </div>-->

    <!--                    </div>-->

                    <!--- SP No  -->
                    <div class="row mt-1">
                        <label for="cmbSupplier" class="font-weight-bold col-4 col-form-label">Supplier :
                            <span style="color: red;">*</span>
                        </label>
                        <div class="col-8">
                            <select id="cmbSupplier" class="form-control" required
                                    onchange="selectValidator(cmbSupplier,'','newSupplierPayment','supplier_id','oldSupplierPayment'); getMRN() ">
                            </select>
                        </div>
                    </div>

                    <!--- MRN No  -->
                    <div class="row mt-1">
                        <label for="cmbMrn" class="font-weight-bold col-4 col-form-label">Material Received Note  :
                            <span style="color: red;">*</span>
                        </label>
                        <div class="col-8">
                            <select id="cmbMrn" class="form-control" required
                                    onchange="selectValidator(cmbMrn,'','newSupplierPayment','material_recieve_note_id','oldSupplierPayment'); getTotalAmountFormMRN()">
                            </select>
                        </div>
                    </div>

                    <!-- Net Amount  -->
                    <div class="row mt-1">
                        <label for="txtNetAmount" class="form-label font-weight-bold col-4 col-4 ">
                           Net Amount : <span style="color: red;">*</span>
                        </label>
                        <div class="col-8">
                        <input type="text" id="txtNetAmount" class="form-control form-control-sm" required
                               onkeyup="textFeildValidtor(txtNetAmount,'^(([1-9][0-9]{0,5})|([1-9][0-9]{0,5}[.][0-9]{2}))$','newSupplierPayment','net_amount','oldSupplierPayment')">
                        </div>
                    </div>

                    <!-- Total Amount  -->
                    <div class="row mt-1">
                        <label for="txtTotalAmount" class="form-label font-weight-bold col-4 col-4 ">
                            Total Amount : <span style="color: red;">*</span>
                        </label>
                        <div class="col-8">
                            <input type="text" id="txtTotalAmount" class="form-control form-control-sm" required
                                   onkeyup="textFeildValidtor(txtTotalAmount,'^(([1-9][0-9]{0,5})|([1-9][0-9]{0,5}[.][0-9]{2}))$','newSupplierPayment','total_amount','oldSupplierPayment')">
                        </div>
                    </div>

                    <!-- Paid Amount  -->
                    <div class="row mt-1">
                        <label for="txtPaidAmount" class="form-label font-weight-bold col-4 col-4 ">
                            Paid Amount : <span style="color: red;">*</span>
                        </label>
                        <div class="col-8">
                            <input type="text" id="txtPaidAmount" class="form-control form-control-sm" required
                                   onkeyup="textFeildValidtor(txtPaidAmount,'^(([1-9][0-9]{0,5})|([1-9][0-9]{0,5}[.][0-9]{2}))$','newSupplierPayment','paid_amount','oldSupplierPayment'); getSPBalanceAmount()">
                        </div>
                    </div>

                    <!-- Balance Amount  -->
                    <div class="row mt-1">
                        <label for="txtBalanceAmount" class="form-label font-weight-bold col-4 col-4 ">
                            Balance Amount : <span style="color: red;">*</span>
                        </label>
                        <div class="col-8">
                            <input type="text" id="txtBalanceAmount" class="form-control" required
                                   onkeyup="textFeildValidtor(txtBalanceAmount,'^(([1-9][0-9]{0,5})|([1-9][0-9]{0,5}[.][0-9]{2}))$','newSupplierPayment','balance_amount','oldSupplierPayment')">
                        </div>
                    </div>

                    <!---  /  Payment method -->
                    <div class="row mt-1">
                        <label for="cmbPMethod" class="form-label font-weight-bold col-4"> Payment method : <span
                                style="color: red;">*</span></label>
                        <div class="col-8">
                            <select id="cmbPMethod" class="form-control form-control-sm" required
                                    onchange="selectValidator(cmbPMethod,'','newSupplierPayment','supplier_payment_type_id','oldSupplierPayment')">

                            </select>
                        </div>
                    </div>


                    <!--- QR Note -->
                    <div class="row mt-1">

                            <label for="txtNote" class="form-label font-weight-bold col-4">
                                Note  :
                            </label>
                        <div class="col-8">
                            <textarea id="txtNote" class="form-control form-control-sm"
                                      onkeyup="textFeildValidtor(txtNote,'^.*$','newSupplierPayment','description','oldSupplierPayment')"
                                      placeholder="Enter Note"></textarea>
                        </div>
                    </div>

                    <!---  /  Status -->
                    <div class="row mt-1">
                        <label for="cmbSPStatus" class="form-label font-weight-bold col-4"> Status : <span
                                style="color: red;">*</span></label>
                        <div class="col-8">
                        <select id="cmbSPStatus" class="form-control form-control-sm" required
                                onchange="selectValidator(cmbSPStatus,'','newSupplierPayment','supplier_payment_status_id','oldSupplierPayment')">

                        </select>
                        </div>
                    </div>


                    <!--- Buttons -->
                    <div class="row mt-2">
                        <div class="col text-end">
                            <button type="reset" style="width: 23%; border-radius: 50px;"
                                    class="btn bg-info font-weight-bold"> Clear </button>

                            <button type="submit" style="width: 23%;border-radius: 50px;" id="buttonAdd"
                                    class="btn bg-success font-weight-bold" onclick="buttonSPSave()"> Add </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>






  <script src="/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>

  <script src="/app-assets/js/core/app-menu.js" type="text/javascript"></script>
  <script src="/app-assets/js/core/app.js" type="text/javascript"></script>


  <script src="/resources/datatable/js/datatables.min.js" type="text/javascript"></script>

  <script src="/resources/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>

  <script src="/resources/script/common.js" type="text/javascript"></script>
  <script src="/resources/script/dashboard.js" type="text/javascript"></script>
  <script src="/supplierpayment.js" type="text/javascript"></script>

</body>

</html>